@import url('https://fonts.googleapis.com/css2?family=Special+Gothic+Extended+One&display=swap');
@import "@styles/mixins.scss";
@import "@styles/variables.scss";
@import "@styles/extends.scss";

.container {
  position: fixed;
  inset: 0;
  background: #1a1715;
  font-family: 'Special Gothic Extended One', sans-serif;
}

.bg {
  position: fixed;
  inset: 0;
  z-index: 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.ytContainer {
  position: fixed;
  width: 1px;
  height: 1px;
  opacity: 0;
  pointer-events: none;
  z-index: -1;
}
