@import '@styles/variables.scss';
@import '@styles/mixins.scss';
@import '@styles/extends.scss';

.container {
  @extend %container;
  justify-content: start;
  width: 100%;
  
  @include bp-tablet {
    justify-content: center;
  }

  @include bp-mobile-small {
    padding-bottom: 100px;
  }
}

.content {
  width: 100%;
  max-width: 800px;
  min-height: 100%;
  height: 100%;
}

.animation {
  width: 100%;
  max-height: 250px;
  object-fit: contain;
  background: #191919;
  z-index: 1;
  border-radius: 5px;

  @include bp-tablet {
    align-self: center;
  }
}

.animation_container {
  position: relative;
}

.player {
  color: $lava;
  border: 1px solid #191919;
  margin-top: -5px;
  background-color: #191919;
  height: 60%;
  position: relative;
  z-index: 1;
  border-radius: 5px;

  @include bp-custom-down(1480px) {
    height: 50%;
  }

  @include bp-tablet {
    align-self: center;
    height: 50%;
  }

  @include bp-mobile {
    height: 60%;
  }
}

.title {
  @extend %title;
  margin-bottom: 25px;

  @include bp-tablet {
    text-align: center;
  }

  @include bp-mobile {
    text-align: start;
  }

  @include bp-mobile-small {
    margin-top: 15px;
    margin-bottom: 10px;
  }
}

.spotify {
  position: absolute;
  top: 15px;
  right: 10px;
  transform: scale(1.8);

  &:hover {
    transform: scale(1.9);
  }

  @include bp-mobile-small {
    transform: scale(1.4);
  }
}

.line {
  width: 2px;
  height: 700px;
  background: #000;
  position: absolute;
  margin-left: -60px;
  z-index: 1000;

  @include bp-tablet {
    display: none;
  }
}

.kovdra {
  @include font-orditron-400;
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}