@import '@styles/extends.scss';
@import '@styles/mixins.scss';
@import '@styles/variables.scss';

.container {
  @extend %container;
  
  background: $salt;

  @include bp-tablet {
    min-height: min-content;
  }

  @include bp-mobile {
    height: 100%;
  }
}

.slider_container {
  position: relative;
  display: flex;
  flex-direction: column;

  z-index: 1;

  margin: 0 -60px;
  
  @include bp-tablet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  @include bp-mobile {
    margin-top: 0;
  }
}

.page {
  display: flex;
  max-width: 100%;
  flex-direction: column;
  
  position: relative;

  @include bp-desktop {
    height: 82%;
  }

  @include bp-tablet {
    align-items: center;
  }

  @include bp-mobile {
    align-items: normal;
  }
}

.title {
  @extend %title;

  @include bp-tablet {
    margin-left: -40px;
  }

  @include bp-custom-down(950px) {
    margin-left: 0;
  }

  @include bp-mobile {
    margin-bottom: 20px;
  }
}

.description {
  @include font-orditron-400;
  font-size: 22px;
  margin: 0 30px 0 0;
  width: 350px;

  @include bp-desktop {
    font-size: 24px;
    min-width: 500px;
    max-width: 500px;
  }

  @include bp-tablet {
    width: 90%;
    margin-bottom: 30px;
  }

  @include bp-mobile {
    font-size: 22px;
    margin: 0 0 36px 0;
  }

  @include bp-mobile-small {
    font-size: 18px;
    line-height: 1.5;
  }
}

.description_box {
  background-color: $salt;
  padding: 40px 20px;
  border-radius: 10px;
  z-index: 5;
  display: flex;
  transition: all 0.3s;
  justify-content: center;
  align-items: center;
  height: max-content;
  
  box-shadow: $shadow;

  @include bp-desktop {
    align-self: center;
    padding: 50px 60px;
    transform: translateY(-100px);

    &:hover {
      max-width: 950px;

      & .svg_icon {
        width: 180px;
        background: $carbon;
        box-shadow: $shadow;
      }
    }
  }

  @include bp-mobile-small {
    transform: translateY(-300px);
  }

  &:hover .svg_icon {
    &:hover {
      background-color: $lava;
    }

    &::before {
      transition: all 0.3s;
      filter: brightness(5);
      margin-right: 16px;
      transform: rotate(90deg) scale(0.6);
    }

    &::after {
      @include font-orditron-500;
      font-size: 18px;
      color: $salt;
      content: 'REQUEST';
      transform-origin: right;

      animation: swipeLeft 0.3s;

      @include bp-mobile-small {
        font-size: 16px;
      }
    }
  }

  @include bp-tablet {
    margin: 0 60px;
    max-width: 600px;
    flex-direction: column;
    transform: translate(0, -50px);
  }

  @include bp-mobile {
    background-color: $carbon;
    
    color: $salt;
    margin-top: 10px;
    z-index: 8;
    transform: translate(0, 0);
  }
}

.svg_icon {
  @extend %transition01;
  @extend %flexBetween;
  @include square(70px);
  
  justify-content: center;
  background-color: $salt;
  padding: 20px;
  border-radius: 4px;
  // border: 1px solid $fog;
  box-shadow: $shadow;

  overflow: hidden;

  &::before {
    content: url(../../assets/icons/arrow.svg);
    @extend %flexCenter;
    @extend %transition01;
    @include square(20px);

    transform: translate(1px, 1px);

    @include bp-tablet {
      filter: brightness(5);
      margin-right: 16px;
      transform: rotate(90deg) scale(0.6) translate(0px, 0px);
      transform-origin: center;
    }
  }

  &:hover {
    border: 1px solid transparent;
    box-shadow: $shadow;
  }

  @include bp-tablet {
    width: 190px;
    background: $carbon;
    border: 1px solid $fog;
    box-shadow: none;

    &::after {
      @include font-orditron-500;
      font-size: 18px;
      color: $salt;
      content: 'REQUEST';
      transform-origin: right;
      animation: swipeLeft 0.3s;

      @include bp-mobile-small {
        font-size: 16px;
      }
    }
  }
}

.bgIllustration {
  @extend %bgIllustration;
  z-index: 0;
  position: fixed;

  animation: opacity 2s;
}