@import '@styles/mixins.scss';
@import '@styles/variables.scss';
@import '@styles/extends.scss';

.form_backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0;
  left: 0;

  background: $backdrop;
}

.form_box {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;

  @include bp-tablet {
    margin-top: 50px;
  }

  @include bp-mobile {
    margin-top: 40px;
  }
}

.form {
  @include font-orditron-400;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 60px 40px 40px 40px;
  border-radius: 10px;
  z-index: 30;
  background-color: $carbon;
  color: $quarz;
  font-size: 20px;
  max-width: 600px;

  animation: scale 0.3s;

  @include bp-mobile {
    line-height: 1.5;
    width: 90%;
    font-size: 18px;
    margin: 0 auto;
    padding: 30px;
  }

  @include bp-mobile-small {
    padding: 20px 30px;
    font-size: 16px;
  }
}

.description {
  margin-bottom: 30px;
  max-width: max-content;

  @include bp-mobile-small {
    margin-bottom: 10px;
  }
}

.label {
  color: $fog;
  align-self: flex-start;
  margin-bottom: 10px;

  @include bp-mobile-small {
    margin-bottom: 5px;
  }
}

.email {
  background: $carbon;
  border: 1px solid $fog;
  width: 100%;
  font-size: 16px;
  padding: 16px;
  border-radius: 5px;
  color: $salt;
  margin-bottom: 20px;
  font-family: inherit;

  @include bp-mobile-small {
    margin-bottom: 5px;
    font-size: 12px;
    padding: 10px;
  }

  &:focus {
    border: 1px solid $quarz;
    outline: none;
    box-shadow: 0px 0px 15px #cecece12;
  }

  &::placeholder {
    color: #414040;
  }
}

.message {
  background: $carbon;
  border: 1px solid $fog;
  width: 100%;
  font-size: 16px;
  padding: 16px;
  border-radius: 5px;
  color: $salt;
  margin-bottom: 40px;
  font-family: inherit;

  @include bp-mobile-small {
    margin-bottom: 10px;
    font-size: 12px;
    padding: 10px;
  }

  &:focus {
    border: 1px solid $quarz;
    outline: none;
    box-shadow: 0px 0px 15px #cecece12;
  }

  &::placeholder {
    color: #414040;
  }
}

.btn {
  @include font-orditron-500;
  font-size: 18px;
  border: 1px solid $quarz;
  padding: 15px;
  position: relative;
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  // margin-top: 150px;
  color: $salt;
  transition: all 0.3s;

  &:hover {
    background-color: $lava;
  }

  @include bp-mobile-small {
    padding: 10px;
    @include font-orditron-400;
    font-size: 14px;
  }
}

.arrow {
  width: 18px;
  height: 18px;
  align-self: center;
  margin-right: 15px;
  filter: brightness(2);
  transform: rotate(90deg);

  @include bp-mobile {
    margin-right: 8px;
    transform: scale(0.7) rotate(90deg);
  }
}

.close_btn {
  position: absolute;
  top: 10px;
  right: 15px;
  background: transparent;
  border: none;
  transform: scale(0.5) translate(-5px, 15px);
  cursor: pointer;
  transition: all 0.3s;

  @include bp-mobile-small {
    top: 5px;
    right: 8px;
    transform: scale(0.4) translate(-5px, 15px);
  }

  &:hover {
    transform: scale(0.5) translate(-5px, 15px) rotate(90deg);
  }
}

.error_input {
  transition: all 0.3s;
  border: 1px solid rgb(255, 0, 64);
}

.error_label {
  transition: all 0.3s;
  color: rgb(255, 0, 64);
}

.success_message {
  border-radius: 5px;
  border: 1px solid $topaz;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  animation: swipe 0.3s forwards;


  font-size: 1.4rem;
  @include font-orditron-500;
  padding: 25px;

  width: 400px;
  // height: 200px;
  position: absolute;
  // top: 50%;
  // left: 50%;
  background: $carbon;
  color: $salt;
  z-index: 100;
}