@import '@styles/mixins.scss';
@import '@styles/variables.scss';
@import '@styles/extends.scss';

.container {
  @extend %container;

  @include bp-custom-up(640px) {
    // padding-left: 140px;
    justify-content: flex-start;
  }

  @include bp-desktop {
    // padding-left: 60px;
  }

  @include bp-tablet {
    height: 80vh;
    padding: 40px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  @include bp-mobile-small {
    padding: 20px;
  }
}

.title {
  @include font-fraunces-400;

  color: $carbon;

  font-size: 178px;
  margin-bottom: 60px;
  position: relative;
  letter-spacing: -2px;
  transform: translateX(-5px);

  z-index: 1;

  pointer-events: none;

  @include bp-tablet {
    font-size: 9rem;
    margin-bottom: 10px;
  }

  @include bp-mobile {
    font-size: 6rem;
    transform: translateY(-25px);
  }

  @include bp-mobile-small {
    font-size: 4rem;
  }
}

.description {
  @include font-orditron-400;
  max-width: 450px;
  font-size: 18px;
  height: 100%;

  pointer-events: none;

  @include bp-mobile {
    font-size: 18px;
    transform: translateY(-25px);
  }
}

.line {
  @extend %line; 
}
