@import "@styles/mixins.scss";
@import "@styles/variables.scss";
@import "@styles/extends.scss";

.container {
  @extend %container;

  @include bp-custom-up(640px) {
    justify-content: flex-start;
  }

  @include bp-tablet {
    height: 80vh;
    padding: 40px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  @include bp-mobile-small {
    padding: 40px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include bp-desktop {
    gap: 160px;
  }

  @include bp-tablet {
    gap: 130px;
  }

  @include bp-mobile {
    gap: 100px;
  }

  @include bp-mobile-small {
    gap: 70px;
  }
}

.description {
  @include font-orditron-400;
  max-width: 450px;
  font-size: 18px;

  pointer-events: none;

  display: flex;
  flex-direction: column;
  gap: 14px;

  @include bp-mobile {
    font-size: 18px;
  }
}

.headline {
  @include font-orditron-500;
  font-size: 26px;
  line-height: 1.1;
  width: fit-content;
  transform: scaleX(1.58);
  transform-origin: left;

  @include bp-mobile {
    font-size: 22px;
  }
}

.tagline {
  @include font-orditron-400;
}

.lead {
  @include font-orditron-400;
  line-height: 1.4;
}

.note {
  @include font-orditron-400;
  font-size: 16px;
  line-height: 1.45;
}

.line {
  @extend %line;
}
