@import "@styles/variables.scss";
@import "@styles/mixins.scss";
@import "@styles/extends.scss";

.container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    pointer-events: none;
    overflow: hidden;
}

.animation {
    position: fixed;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.backdrop {
    width: calc(100% - 300px);
    height: 100%;
    background-color: $salt;
    position: absolute;
    margin-left: 300px;
    transition: all 1s;

    @include bp-tablet {
        width: 100%;
        margin-left: 0;
    }
}

.bgIllustration {
    @extend %bgIllustration;
}