@import '@styles/mixins.scss';
@import '@styles/extends.scss';
@import '@styles/variables.scss';

.container {
  @extend %container;
  min-height: 100vh;

  animation: bg 1s forwards;
  
  @include bp-tablet {
    height: max-content;
    // margin-bottom: 10px;
  }
}

@keyframes bg {
  0% {
    background: rgba($color: $salt, $alpha: 0);
  }

  100% {
    background: rgba($color: $salt, $alpha: 1);
  }
}

.page {
  display: flex;
  max-width: 100%;
  flex-direction: column;

  // @include bp-custom-down(1480px) {
  //   padding-top: 300px;
  // }
}

.list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 80px;
  row-gap: 40px;
  transition: all 0.3s;
  max-width: 1200px;
  align-self: center;
  margin: 40px 0;
  z-index: 1;

  @include bp-tablet {
    column-gap: 40px;
    justify-content: center;
  }

  @include bp-mobile-small {
    margin-top: 20px;
  }
}

.title {
  @extend %title;

  @include bp-tablet {
    align-self: center;
  }

  @include bp-mobile {
    align-self: normal;
  }
}

.bgIllustration {
  @extend %bgIllustration;
  z-index: 0;
}