@import '@styles/extends.scss';
@import '@styles/variables.scss';
@import '@styles/mixins.scss';

.slide {
  width: 100%;
  height: 100%;
  object-fit: contain;

  @include bp-tablet {
    object-fit: cover;
  }
}

.slider_container {
  align-self: center;
  justify-self: center;
  max-width: 100vw;
  position: relative;

  display: flex;
  justify-content: center;
  align-content: center;
  // max-height: 400px;

  @include bp-mobile {
    clip-path: none;
    max-width: 100vw;
  }

  @include bp-tablet {
    width: 100%;
  }
}

.swiper {
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 600px;

  @include bp-custom-down(1480px) {
    max-height: 500px;
  }

  @include bp-tablet {
    max-height: 550px;
  }

  @include bp-mobile {
    height: 100vw;
  }
}

.btn_prev,
.btn_next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 8%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  cursor: pointer;
  z-index: 5;
  border: none;
  @extend %transition03;
  border-radius: 5px;

  overflow: hidden;

  @include bp-mobile {
    width: 12%;
    transform: translateY(-50%);
  }

  &:hover {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.6);
  }
}

.btn_prev {
  left: 0;
  
  & img {
    transform: scale(0.7) rotate(180deg);
    opacity: 0.5;

    @include bp-mobile {
      transform: rotate(180deg) scale(0.4, 0.5);
    }
  }
}

.btn_next {
  right: 0;

  & img {
    transform: scale(0.7);
    opacity: 0.5;

    @include bp-mobile {
      transform: scale(0.4, 0.5);
    }
  }
}

.playButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  @extend %flexCenter;
  width: 100px;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.6);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1;

  @include bp-mobile {
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 0.9;
  }
}

.playButton img {
  width: 36px;
  height: 36px;
  transform: translateX(10%);
}

.blur {
  width: 100%;
  height: 100%;
  background: #ff4a4a00;
  backdrop-filter: blur(30px);
  // z-index: 20;
  position: absolute;
}

.roles {
  position: absolute;
  color: $salt;
  @include font-orditron-400;
  font-size: 1.6rem;
  left: 50%;
  top: 71%;
  transform: translateX(-50%);
  border-radius: 5px;

  background: #00000055;
  padding: 10px;

  z-index: 50;

  animation: opacity 1s;

  @include bp-mobile {
    font-size: 1.3rem;
    top: 85%;
  }
}
